@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

body{
    margin: 1vh;
    font-family: 'Oswald';
    font-size: 1.2vh;
    background-image: ;
    background-color: rgb(243, 243, 243);
}
body, div{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.faceUp{
    background-color: white;
    flex-direction: row;
}

.faceDown{
    background-color: grey;
    flex-direction: row;
}
.header{
    background-color: rgb(16, 12, 37);
    color: white;
    height: 5vh;
    width: 100%;
    display: flex;
    
}
.inactivePlayers{
    height:30vh;
    width: 100%;

    flex-direction: row;
    justify-content: space-around;
}
.tableCenter{
    height: 27vh;
    width: 100%;
    flex-direction: row;
}
.currentPlayer{
    height:35vh;
    width: 100%;
}
.playerBoard{
    height: 90%;
    width: 30%;
    justify-content: space-around;
    border-radius: 1.5vmin;
}
.currentPlayer .playerBoard{
    width: 90%;
    height: 90%;
    border-radius: 2vmin;
}
.hand, .faceDownRow, .faceUpRow {
    flex-direction: row;
    height: 30%;
    width: 100%;
}
.card{
    height: 90%;
    width: 100%;
    border-radius: 1.5vmin;
    margin: 0 .5vw;
    border: rgb(215, 215, 215) .3vh solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.currentPlayer .card{
    width: 5vh;
}

.discard, .deck{
    width: 11vh;
    height: 17vh;
}
.tableCenter .card {
    width: 60%;
    height: 90%;
}

.hid{
    visibility:hidden;
}

#player1{
    background-color: rgba(130, 130, 225, 0.9);
}
#player2{
    background-color: rgba(100, 153, 100, 0.9);
}
#player3{
    background-color: rgb(207, 139, 139, 0.9);
}
#player4{
    background-color: rgba(231, 231, 153, 0.9);
}
.suit, .cardNum{
    margin: 0
}

h3{
    margin: 0;
}
.hand .card{
    background-color: pink;
}

.endGameResults{
    width: 70vmin;
    max-width: 50vmax;
    height: 26vh;
    border-radius: 10vmax;
    border: 1vmin solid rgb(81, 81, 81); 
    position: absolute;
    background-color: rgb(214, 139, 99);
    color: white;
    display: none;
    font-size: 2vmin;
}
.gameOver{
    font-size: 5vmin
}
.messageCont{
    background-color: rgb(199, 180, 210);
    padding: .5vmin 3vmin;
    position: absolute;
    top: 57vh;
    display: none;
    border-radius: .5vmin;
}
.playagain {
    display: none;
    margin-top: 1vh
}